.breadcrumb-screen {
  height: 10%;
  background: #7df1ff;
  .breadcrumb-container{
    background: #ffffff;
  }
  .breadcrumb-screen__list {
    background: #ffffff;
  }
  .breadcrumb {
    margin: 0;
    padding: 0;
  }
}
