.folder-list {
  height: 90%;

  .card {
    height: 50%;
    justify-content: center;
    &:hover {
      cursor: pointer;
      background-color: #d6feff;
      z-index: 100;
      box-shadow: 0 5px 5px -3px gray, 0 8px 10px 1px gray, 0 3px 14px 2px gray;
      transition: 0.3s;
    }
  }
  .table-hover td {
    cursor: pointer;
  }

  .folder__checkbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
  }
  .folder__content {
    margin-top: 20px;
    .folder__content__picture {
      display: block;
      margin: auto;
    }
    .folder__content__picture-name {
      padding: 0;
    }
  }
}
